<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <style>
        /*body {*/
        /*    background-color: black;*/
        /*}*/
        .forms_area {
            color: aqua;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <form class='forms_area' action="" method="post">
        {% csrf_token %}
        {{form}}
        <button>Отправить</button>
    </form>
</body>
</html>