<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        .conteiner {
            display: flex;
            flex-direction: column;
            align-items: center;

            height: 100vh;
        }

        a {
            text-decoration: none;
        }
        .image_ {
            width: 300px;
        }
    </style>
</head>
<body>
    <h4>
        <a href="{% url 'create' %}">Создать пост)</a>

    </h4>
    <div class="conteiner">
        {{men}}


    </div>
</body>
</html>